extends layout

block content
  #uutiset.row
    .col-xs-12
      .row
        mixin news_window(link, imageName, title, pubDate, summary)
          .col-xs-12.col-sm-4.content-wrapper
            .ruutu
              a(href=link)
                .kuva(style="background-image: url(/images/uutiskuvat/" + imageName + ".jpg)")
              .description
                strong= title
                br
                =summary
                br
                | Julkaistu 
                =pubDate
                br
                footer
                  a(href=link) Lue osoitteessa animelehti.fi

        each n in news
            +news_window(n.link, n.imageName, n.title, 
          DateFormat.format(n.pubDate), n.summary)

      .row.further
        .col-xs-12
          strong
            a(href="/news") Lisää uutisia

  .row

    .col-xs-12.col-sm-8.content-wrapper
      #blogit

        ul.list-group

          mixin blogMsg(blogUri, blogName, link, title, pubDate)
            li.list-group-item
              strong
                a(href= link) 
                  !=title
              br
              | Blogissa 
              a(href=blogUri)
                =blogName
              =" " + DateFormat.format(pubDate) + " klo " + TimeFormat.format(pubDate)

          for msg in blogMsgs
            +blogMsg(msg.blog.uri, msg.blog.name, msg.link, 
              msg.title, msg.pubDate)

        footer
          strong
            a(href="/") Lisää blogeja


    .col-xs-12.col-sm-4.content-wrapper
      #tapahtumat

        mixin event(title, where, detailedWhere, description, officialPage)
          h2= title
          strong= where
          br
          strong Kazoku-miitti: 
          = detailedWhere
          if description
            p= description
          else
            br
          a(href=officialPage) Virallinen sivusto

        h1 Seuraava miitti
        +event("Desucon 2015", "5.-7.6.2015", 
          "Tarkempi ajankohta selviää lähempänä tapahtumaa", 
          false, "https://desucon.fi/frostbite2015/")

        footer 
          strong 
            a(href="/") Ilmoittaudu
          br
          a(href="/") Myöhemmät miitit