extends layout

block content
  #uutiset

    mixin news_window(link, imageName, title, pubDate, summary)
      .ruutu
        a(href=link)
          .kuva(style="background: url(/images/uutiskuvat/" + imageName + ".jpg); background-position: center center; background-size: cover;")
        .description
          strong= title
          br
          =summary
          br
          | Julkaistu 
          =pubDate
          br
          a(href=link) Lue osoitteessa animelehti.fi

    .row
      each n in news
        .col-md-4
          +news_window(n.link, n.imageName, n.title, 
            DateFormat.format(n.pubDate), n.summary)

  .row
    .col-md-8
      #blogit

        mixin blogMsg(blogUri, blogName, link, title, pubDate)
          p.clear-both
            strong
              a(href= link) 
                !=title
            br
            | Blogissa 
            a(href=blogUri)
              =blogName
            =" " + DateFormat.format(pubDate) + " klo " + TimeFormat.format(pubDate)

        for msg in blogMsgs
          +blogMsg(msg.blog.uri, msg.blog.name, msg.link, 
            msg.title, msg.pubDate)

        footer
          strong
            a(href="/") Lisää blogeja


    .col-md-4
      #tapahtumat

        mixin event(title, where, detailedWhere, description, officialPage)
          h2= title
          strong= where
          br
          strong Kazoku-miitti: 
          = detailedWhere
          if description
            p= description
          else
            br
          a(href=officialPage) Virallinen sivusto

        h1 Seuraava miitti
        +event("Desucon 2015", "5.-7.6.2015", 
          "Tarkempi ajankohta selviää lähempänä tapahtumaa", 
          false, "https://desucon.fi/frostbite2015/")

        footer 
          strong Ilmoittaudu