doctype html
html
  head
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53996173-1', 'auto');
      ga('send', 'pageview');

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title

    // JQuery
    script(type="text/javascript", src="http://code.jquery.com/jquery-latest.min.js")
    
    // Icons
    link(rel="stylesheet", href = "http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")

    meta(name="msapplication-TileColor", content="#603cba")
    meta(name="msapplication-TileImage", content="/icons/mstile-144x144.png")
    
    mixin apple_favicon(width)
      - var size = width + "x" + width;
      - var uri = "/icons/apple-touch-icon-" + size + ".png";
      link(rel="apple-touch-icon", sizes = size, href = uri)
    - var apple_favicon_sizes = [57, 114, 72, 144, 60, 120, 76, 152];
    each val in apple_favicon_sizes
      +apple_favicon(val)

    mixin favicon(width)
      - var size = width + "x" + width;
      - var uri = "/icons/favicon-" + size + ".png";
      link(rel="icon", type="image/png" sizes = size, href = uri)
    - var favicon_sizes = [196, 160, 96, 16, 32]
    each val in favicon_sizes
      +favicon(val)

    //- link(rel= "stylesheet", type = "text/css", href="/css/bootstrap.min.css")
    //- link(rel= "stylesheet", type = "text/css", href="/css/bootstrap-theme.min.css")
    link(rel= "stylesheet", type = "text/css", href="/css/style.css")
    script(type="text/javascript", src="/js/bootstrap.min.js")

  body
    .container
      div.row
        block nav
          nav.col-md-3
            .mascot-wrapper
              img(src="/images/kazokun3-crop.png", id="maskotti", alt="Kazo-kun")

            .navbar.navbar-default

              .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target="#collapse-1")
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar

              .collapse.navbar-collapse#collapse-1
                ul.nav.nav-stacked
                  mixin nav_item(link, title, big)
                    li(role="presentation")
                      a(href=link, class=attributes.class)
                        if big
                          strong= title
                        else
                          = title

                  +nav_item("#", "IRC", true)
                  +nav_item("#", "Foorumi", true)
                  +nav_item("#", "Kazoku-projektista")

                  +nav_item("#", "Linkit")
                  +nav_item("#", "Uutiset")
                  +nav_item("#", "Blogit")
                  +nav_item("#", "Tapahtumat & miitit")
                  +nav_item("#", "Ota yhteyttä")

          div.col-md-9
            block header
              header
                a(href="/")
                  img(src="/images/uusilogo.png", id="logo").img-responsive.center-block
        
            main
              block content
